:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f5f5f5;
  color: #213547;
}
#root {
  height: 100vh;
}
html, body {
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
